<div class="d-flex justify-content-center align-items-center">
  <div class="lines"></div>
  <div class="title-wrapper px-4">
    <h1 class="text-dark text-decoration-none"><%= @track.title %></h1>
  </div>
  <div class="lines"></div>
</div>
<div class="screen2">
  <ul class="icons2">
    <div class="row justify-content-center">
      <% @lessons.each do |lesson| %>
        <div class="col-6 col-md-2 mt-2">
          <%= link_to lesson_path(lesson), class: 'text-decoration-none' do %>
            <div class="square-card">
              <div class="square-card-content">
                <h5 class="text-dark text-decoration-none square-card-content"><%= lesson.title %></h5>
                <p class="text-dark text-decoration-none square-card-content">Difficulty: <%= lesson.difficulty %>/5</p>
                <div class="row">
                  <div class="col-1 progress-done"></div>
                  <div class="col-1 progress-done"></div>
                  <div class="col-1 progress-done"></div>
                  <div class="col-1 progress-done"></div>
                  <div class="col-1 progress-done"></div>
                  <div class="col-1 progress-done"></div>
                  <div class="col-1 progress-done"></div>
                  <div class="col-1 progress-undone"></div>
                  <div class="col-1 progress-undone"></div>
                  <div class="col-1 progress-undone"></div>
                  <div class="col-1 progress-undone"></div>
                  <div class="col-1 progress-undone"></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to language_path(@language), class: "mb-4 text-dark folder-wrapper" do %>
        <strong>↵Back to tracks</strong>
      <% end %>
    </div>
  </ul>
</div>
