<div class="d-flex justify-content-center align-items-center">
  <div class="lines"></div>
  <div class="title-wrapper px-4">
    <h1 class="text-dark text-decoration-none">Let's explain your bug</h1>
  </div>
  <div class="lines"></div>
</div>
<div class="screen2">
  <ul class="icons2">
    <div class="d-flex justify-content-evenly" id="background-prompt">
      <div class="window">
        <div class="bar">
          <i></i>
          <div>
            <p data-controller="hello">Tell me your bug</p>
          </div>
        </div>
        <div class="content" data-controller="prompts">
          <%= form_with(model: @prompt, url: generate_text_prompts_path, data: { target: "prompts.bugDescription" }) do |form| %>
            <%= form.text_area :question, id: "bug-description", class: "bug-textarea", placeholder: "Enter your bug description" %>
            <%= form.button :submit, class: "submit-button" %>
          <% end %>
        </div>
      </div>
      <div class="window">
        <div class="bar">
          <i></i>
          <div>
            <p>Explanation</p>
          </div>
        </div>
        <div class="content" data-controller="prompts">
          <%= simple_form_for @prompt, url: generate_text_prompts_path, html: { data: { target: 'prompts.bugDescription' } } do |form| %>
            <%= form.text_area :answer, id: 'bug-description', class: 'bug-textarea', placeholder: 'Wait for your explanation' %>
            <%# <%= form.button :submit, class: 'submit-button', 'data-action': 'click->prompts#generateText' %>
          <% end %>
        </div>
      </div>
    </div>
  </ul>
</div>
