<div class="d-flex justify-content-center">
  <div class="window" id="background-prompt">
    <div class="bar">
      <i></i>
      <div class="bar-name">
        <p data-controller="hello" >Tell me your bug</p>
      </div>
    </div>
    <div class="content" data-controller="prompts">
      <%= form_with(model: @prompt, url: generate_text_prompts_path, data: { target: "prompts.bugDescription" }) do |form| %>
        <%= form.text_area :question, id: "bug-description", class: "bug-textarea", placeholder: "Enter your bug description" %>
        <%= form.button :submit, class: "submit-button", "data-action": "click->prompts#generateText" %>
      <% end %>
    </div>
  </div>
  <div class="window" id="background-prompt">
    <div class="bar">
      <i></i>
      <div>
        <p>Here's your debbing </p>
      </div>
    </div>
    <div class="content" data-controller="prompts">
      <%= simple_form_for @prompt, url: generate_text_prompts_path, html: { data: { target: 'prompts.bugDescription' } } do |form| %>
        <%= form.text_area :answer, id: 'bug-description', class: 'bug-textarea', placeholder: 'Wait for your explanation' %>
        <%# <%= form.button :submit, class: 'submit-button', 'data-action': 'click->prompts#generateText' %>
      <% end %>
    </div>
  </div>
</div>
