<script src="https://kit.fontawesome.com/b5d54b73c2.js" crossorigin="anonymous"></script>


<nav class="main-menu" id="sidebar-body">
  <div>
    <%= link_to("#", class: "logo") do %>
      <div class="settings"></div>
       <div class="scrollbar" id="style-1">
        <ul>
          <li class="darkerli">
            <%= link_to(dashboard_path) do %>
              <%= image_tag("dashboard.png", alt: "dashboard", class: "dashboard-img") %>
              <span class="nav-text">Dashboard</span>
            <% end %>
          </li>

          <li class="darkerli">
            <%= link_to(languages_path) do %>
              <%= image_tag("folder_img.png", alt: "lesson", class: "folder-img") %>
              <span class="nav-text">Lessons</span>
            <% end %>
          </li>

          <li class="darkerli">
            <%= link_to(language_path(Language.find_by(name: 'Ruby'))) do %>
              <%= image_tag("ruby_img.png", alt: "ruby", class: "ruby-img") %>
              <span class="nav-text">Ruby</span>
            <% end %>
          </li>

          <li class="darkerli">
            <%= link_to(language_path(Language.find_by(name: 'JavaScript'))) do %>
              <%= image_tag("js_img.png", alt: "java-script", class: "js-img") %>
              <span class="nav-text">JavaScript</span>
            <% end %>
          </li>

          <li class="darkerli">
            <%= link_to(language_path(Language.find_by(name: 'HTML'))) do %>
              <%= image_tag("html_img.png", alt: "html", class: "html-img") %>
              <span class="nav-text">HTML</span>
            <% end %>
          </li>

          <li class="darkerli">
            <%= link_to(language_path(Language.find_by(name: 'CSS'))) do %>
              <%= image_tag("css_img.png", alt: "css", class: "css-img") %>
              <span class="nav-text">CSS</span>
            <% end %>
          </li>

          <li class="darkerli">
            <%= link_to (new_prompt_path) do %>
              <%= image_tag("duck_icon.png", alt: "debug", class: "duck-sidebar") %>
              <span class="nav-text">Debug</span>
            <% end %>
          </li>

          <li class="darkerli">
            <%= link_to(new_recording_path) do %>
              <%= image_tag("duckrec.png", alt: "duck", class: "duckrec-sidebar") %>
              <span class="nav-text">
              Talk to the duck
              </span>
            <% end %>
          </li>

          <li class="darkerli">
            <%= link_to lesson_posts_path(lesson_id: 27) do %>
              <i class="fa fa-comments-o fa-xl"></i>
              <span class="nav-text">Community</span>
            <% end %>
          </li>

          <li class="darkerli">
            <%= link_to("#") do %>
              <i class="fa fa-envelope-o fa-xl"></i>
              <span class="nav-text">Contact</span>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>

