<div class="d-flex justify-content-center align-items-center">
  <div class="lines"></div>
  <div class="title-wrapper px-4">
    <h1 class="text-dark text-decoration-none">Community</h1>
  </div>
  <div class="lines"></div>
</div>
<div class="d-flex justify-content-evenly">
  <div class="row row-cols-3" id="background-prompt">
    <% @lesson.posts.each do |post| %>
      <div class="col mx-5">
        <div class="window">
          <div class="bar">
            <i></i>
            <div>
              <p><%= @lesson.title %></p>
            </div>
          </div>
          <div class="content">
            <%= link_to lesson_post_path(@lesson, post), class: "text-decoration-none" do %>
              <h6 class="text-dark"><%= post.title %></h6>
              <p class="text-dark"><%= post.content %></p>
              <p><strong>Posted by:</strong> <%= post.user.username %></p>
              <div class="d-flex justify-content-between">
                <p class="text-secondary">
                  <% if post.created_at.to_date == Date.today %>
                    <%= "Today, #{post.created_at.strftime('%H:%M')}" %>
                  <% elsif post.created_at.to_date == Date.yesterday %>
                    <%= "Yesterday, #{post.created_at.strftime('%H:%M')}" %>
                  <% else %>
                    <%= post.created_at.strftime('%d-%m-%Y %H:%M') %>
                  <% end %>
                </p>
                <button class="btn btn-primary">Contribute</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="background-prompt">
    <div class="window">
      <div class="bar">
        <i></i>
        <div>
          <p><%= "Your question not here?" %></p>
        </div>
      </div>
      <div class="content">
        <h6>Create a new thread</h6>
        <%= simple_form_for [@lesson, @post] do |f| %>
          <%= f.input :title, as: :text, input_html: { rows: 1 }, label: "What is your question about?" %>
          <%= f.input :content, as: :text, input_html: { rows: 3 }, label: "Take some time to explain your question." %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
