<div class="d-flex justify-content-center align-items-center">
  <div class="lines"></div>
  <div class="title-wrapper px-4">
    <h1 class="text-dark text-decoration-none">Discussions</h1>
  </div>
  <div class="lines"></div>
</div>
<div id="background-prompt">
  <div class="window">
    <div class="bar">
      <i></i>
      <div>
        <p><%= @lesson.title %></p>
      </div>
    </div>
    <div>
      <% @posts.each do |post| %>
        <div class="post content">
          <%= link_to lesson_post_path(@lesson, post), class: "text-decoration-none" do %>
            <h6 class="text-dark"><%= post.title %></h6>
            <p class="text-dark"><%= post.content %></p>
            <div>
              <p class="text-dark">
                <% if post.timestamp.to_date == Date.today %>
                  <%= "Today, #{post.timestamp.strftime('%H:%M')}" %>
                <% elsif post.timestamp.to_date == Date.yesterday %>
                  <%= "Yesterday, #{post.timestamp.strftime('%H:%M')}" %>
                <% else %>
                  <%= post.timestamp.strftime('%d-%m-%Y %H:%M') %>
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
